.crowdfunding-header {
  width: 100%;
  height: var(--h-header); // 300px

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  background-image: var(--background-hero-desktop);
  background-attachment: scroll;
  background-repeat: no-repeat;

  background-position: left;
  background-size: cover;

  border-bottom: 1px solid var(--color-border-line);

  @media only screen and (max-width: $break-small) {
    background-image: var(--background-hero-mobile);
  }
}

.crowdfunding-nav {
  width: 100%;
  max-width: var(--desktop-width);
  padding: 2rem 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-burgur--hidden {
    display: none;
  }

  @media only screen and (max-width: 480px) {
    .menu-burgur {
      width: 4.8rem;
      height: 4.8rem;

      border-radius: 50%;
      border: 1px solid transparent;

      background-color: transparent;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 0;

      &:hover {
        border-color: var(--color-white);
      }

      img {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }
}

.crowdfunding-nav__logo {
  font-size: 2.8rem;
  color: var(--color-white);

  line-height: 1.4;
  font-weight: 700;

  text-transform: lowercase;
}

.crowdfunding-nav__links {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.crowdfunding-nav__link a {
  display: block;
  padding: 2rem 1.6rem;

  font-size: 1.6rem;
  color: var(--color-white);

  opacity: 0.8;
  line-height: 1.4;

  transition: opacity 0.6s ease;
}

.crowdfunding-nav__link:last-child a {
  padding-right: 0;
}

.crowdfunding-nav__link a:hover {
  opacity: 1;
  text-decoration: underline;
}
